body {
    font-family: "Arial";
    font-size: 10dp;
    margin: 0px;
    padding: 0px;    
}
h1 {
	margin-top: 0px;
	display: block;
	clear: both;
	width: 100%;
	color: white;
	background-color: red;
	padding: 5px;
}
div.result>div {
    display: block;
    clear: right;
    margin-bottom: 10px;
}

div.result>div>span {
    display: inline-block;
    clear: none;
    font-weight: bolder;
    min-width: 150px;
}

div.result>div>ul {
    list-style: none;
    padding: 5px;
    padding-left: 150px;
    margin: 0px;
}

form>div>span {
    display: block;
    clear: right;
    font-weight: bolder;
}

form>div>ul {
    list-style: none;
    padding: 5px;
    padding-left: 0px;
    margin: 0px;
}

form>div>ul>li {
    clear: none;
    display: inline-block;
}

form>input,form>select {
    margin: 5px;
    font-family: "Arial";
    font-size:	1em;
}